app = "mist-ai"
primary_region = "iad"

[build]

[processes]
  app = "gunicorn -w 1 -b 0.0.0.0:5000 wsgi:application"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
  interval = "20s"
  timeout = "10s"
  grace_period = "60s"
  method = "GET"
  path = "/status"

[[vm]]
  memory = "512MB"
  cpu_kind = "shared"
  cpus = 1

[metrics]
  port = 9090

[[mounts]]
  source = "bans_db"
  destination = "/app/data"